<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Sobre o projeto X</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
      accusantium deserunt quaerat quasi similique dolores repellendus fugiat,
      voluptate optio tempore eaque, ipsum doloremque illo qui? Voluptas amet
      nesciunt ipsum voluptatibus.
    </p>
  </body>
</html>
